
<div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <form [formGroup]="taskForm" (ngSubmit)="onSaveTask()">
            <div class="taskForm">
              <label for="title">Titre</label>
              <input type="text" id="title"
                     class="form-control" formControlName="title">
            </div>
            <div class="taskForm">
              <label for="Responsible">Responsable</label>
              <textarea id="responsible"
              class="form-control" formControlName="responsible">
                  </textarea>
            </div>
            <div class="taskForm">
              <label for="description">Description</label>
              <textarea id="description"
                        class="form-control" formControlName="description">
              </textarea>
            </div>
            <div class="taskform">
              <label>finished</label>
              <input type="radio" id="state" name="state" value="finished" class="form-control" formControlName="state"  checked style="color:#f00;background-color:#cb000a;display:inline-block;margin-left:1em;width:3em;" >
              <label>satrted</label>
              <input type="radio"  id="state" name="state" value="started" class="form-control" formControlName="state"  style="color:#f00;background-color:#d1d4c1;display:inline-block;margin-left:1em;width:3em;" >
              <label>holding</label>
              <input type="radio"  id="state" name="state" value="holding" class="form-control" formControlName="state" style="color:#f00;background-color:#1e13ac;display:inline-block;margin-left:1em;width:3em;" >
            </div>
            <button class="btn btn-danger" (click)="onCancel()" >Cancel</button>
            <button class="btn btn-success" 
                  type="submit">Enregistrer
            </button>

          </form>
</div>
      </div>
