
<div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <form [formGroup]="taskForm" (ngSubmit)="onSaveTask()">
            <div class="taskForm">
              <label for="title">Titre</label>
              <input type="text" id="title"
                     class="form-control" formControlName="title">
            </div>
            <div class="taskForm">
              <label for="Responsible">Responsable</label>
              <textarea id="responsible"
              class="form-control" formControlName="responsible">
                  </textarea>
            </div>
            <div class="taskForm">
              <label for="description">Description</label>
              <textarea id="description"
                        class="form-control" formControlName="description">
              </textarea>
            </div>
            <div class="taskform">
              <input type="radio" id="state" name="state" value="finished" class="form-control" formControlName="state"  checked >
              <input type="radio"  id="state" name="state" value="started" class="form-control" formControlName="state" >
              <input type="radio"  id="state" name="state" value="holding" class="form-control" formControlName="state" >
            </div>
            <button class="btn btn-danger" (click)="onCancel()" >Cancel</button>
            <button class="btn btn-success" [disabled]="bookForm.invalid || fileIsUploading"
                  type="submit">Enregistrer
            </button>

          </form>
</div>
      </div>
